<div class="panel panel-default" style="margin: 0; padding:0">
                    <div class="panel-heading">
                        <h4 class="text-primary" data-content="price">$</h4>
                    </div>
                    <div class="panel-body">
                        <a data-href="rental_detail">
                            <img data-src="picture" class="img-responsive" style="height: 250px; width: 100%; margin: 0;padding: 0">
                        </a>
                    </div>

                        <div class="panel-footer">
                            <h5 style="margin:0" data-content="address"></h5>
                            <span style="margin: 0;text-align: right" data-content="city"></span>
                            <span class="text-danger" data-content="bedroom"></span><span>bed/</span><span class="text-danger" data-content="bathroom"></span><span>bath</span>
                            <!-- View Details -->
                            <a data-href="rental_detail" class="btn btn-primary btn-sm" role="button">View Details</a>

                            <a data-href="rental_id" id="like" name="like" class="btn btn-default btn-sm btn-favorite" role="button">
                                <span class="glyphicon glyphicon-star"></span>
                            </a>
                            <span>
                            <small id="favorite_count" data-content="favorite_count"></small>
                            </span>
                            <small style="text-align: right" class="text-primary pull-right" data-content="time_created"></small>

                            <!-- Favorite Album -->

                        </div>
                    </div>