.image-container {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
}

.panel-body img {
    margin:0;
    padding:0;
    height:auto;
    max-height:200px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.selectpicker:hover option {
    display: block;
}
ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

.navbar {
    border-radius: 0;
}
.navbar-custom .icon-bar {
	background-color:#fff;
}

.navbar-custom {
	background-color: #F9F9F9;
    color:#fff;
}

.navbar-custom li>a:hover,.navbar-custom li>a:focus {
	background-color: #5BC0DE;
}
.navbar-brand:hover {
    color:#F9F9F9;
    background-color: #5BC0DE;
}
.navbar-custom .dropdown > a{

}
.navbar-nav > li > a {

}

.navbar-brand {

}
.navbar-custom .form-control:focus {
	border-color: #5BC0DE;
	outline: 0;
	-webkit-box-shadow: inset 0 0 0;
	box-shadow: inset 0 0 0;
}

.glyphicon-star {
    color: #CCCCCC;
    font-size: 16px;
}

.glyphicon-star.active {
    color: #FDB230;
}
#result-container {
    margin: 0;
    width:25%;
    height:100%;
    max-height:600px;
    min-width: 80px;
    overflow-y:scroll;
    position:relative;
	}
.panel-default {
    height: auto;
}
#side_container {
    margin:0;
    width:20%;
    height:100%;
    max-height: 600px;
    overflow-y:scroll;
    position:relative;
}
#map {
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
    max-height: 600px;
    min-width: 120px;
    min-height: 100px;
    border-radius: 0;
    position: absolute;
}
#map_container {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 55%;
    position: relative;
}
html, body {
    height: 100%;
}
body {
    padding-top:50px; /*padding for navbar*/
}

.navbar {
    margin-bottom: 0;
}

.dropdown-menu > a {
    text-decoration: none;
}

label.error {
    color: #FF3B30;
    box-shadow: none;
    border-color: #FF3B30;
    margin-top: 5px;
    margin-bottom: 0;
}
label {
    font-weight: 400;
}
